*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

.header{
    top: 0;
    right: 0;
    width: 100%;
    padding: 15px 95px;
    background: #5A189A;
    display: flex;
    justify-content: space-around;
    align-items: center;

}


.navbar a {
    position: relative;
    font-size: 22px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-right: 50px;

}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    right: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: .3s;
}

.navbar a:hover::before{
    width: 100%;
}


.header img{
    height: 50px;
    width: 50px;
    margin-left: 170px;
    margin-right: -240px;
}